:root {
    --white: hsl(0, 100%, 100%);
    --purple-100: hsl(275, 100%, 97%);
    --purple-600: hsl(292, 16%, 49%);
    --purple-700: hsl(280, 78%, 55%);
    --purple-950: hsl(296, 83%, 31%);
    --font-size-sm: 1rem;
    --font-size-lg: 3rem;
}

@font-face {
    font-family: 'Work Sans';
    src: url('https://fonts.gstatic.com/s/worksans/v24/QGYsz_wNahGAdqQ43Rh_fKDp.woff2') format('woff2');
    font-display: swap;
}

@supports (font-variation-settings: normal) {
    @font-face {
        font-family: 'Work Sans';
        src: url('https://fonts.gstatic.com/s/worksans/v24/QGYsz_wNahGAdqQ43Rh_fKDp.woff2') format('woff2');
        font-weight: 400 800;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
}

.attribution {
    font-size: 11px;
    padding-block-start: 2rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    margin-block-start: 1rem;
    inline-size: 27rem;
    border-radius: 10px;
    padding-block: 1rem;
    background-color: var(--white);
    font-family: 'Work Sans', sans-serif;
}

@media (min-width: 400px) {
    body {
        background: var(--purple-100) url('../public/assets/images/background-pattern-mobile.svg') no-repeat top center/contain;
    }

    .container {
        inline-size: 27rem;
        margin-block-start: 5rem;
        padding-block-end: 1.5rem;
    }
}

@media (min-width: 768px) {
    body {
        background: var(--purple-100) url('../public/assets/images/background-pattern-desktop.svg') no-repeat top /
      contain;
    }

    .container {
        inline-size: 45rem;
        margin-block-start: 13rem;
    }
}

h1 {
    font-size: var(--font-size-lg);
    font-weight: 700;
    padding-block-start: 2rem;
    margin-inline-start: 1rem;
    padding-block-end: 1rem;
}

.accordion-item {
    padding-block: 1rem;
    line-height: 1.3rem;
    position: relative;
}

.accordion-item::after {
    content: '';
    display: block;
    block-size: 0.1rem;
    background-color: var(--purple-100);
    margin-inline: 1.5rem;
}

.accordion-item:last-child::after {
    display: none;
}

.star {
    background-image: url('../public/assets/images/icon-star.svg');
    inline-size: 2.2rem;
    block-size: 2.2rem;
    display: inline-block;
    background-size: cover;
    margin-inline-start: 0.5rem;
    margin-inline-end: 1rem;
}

.accordion-header:active {
    color: var(--purple-700);
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8rem;
    cursor: pointer;
    text-align: left;
    line-height: 1.3rem;
    padding-inline: 1.5rem;
    padding-block-end: 1rem;
    border: none;
    background: none;
    width: 100%;
    font-size: var(--font-size-sm);
    font-weight: bold;
}

.icon {
    background-image: url('../public/assets/images/icon-plus.svg');
    inline-size: 2rem;
    block-size: 2rem;
    flex-shrink: 0;
    transition: transform 1000ms ease;
}

.icon:active {
    background-image: url('../public/assets/images/icon-minus.svg');
}

.icon-minus {
    background-image: url('../public/assets/images/icon-minus.svg');
    transform: rotate(180deg);
}

p {
    color: var(--purple-600);
    padding-inline: 1.5rem;
    padding-block-end: 1rem;
}

.accordion-content {
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    transition: max-height 0.5s ease,
    opacity 0.5s ease,
    padding 0.5s ease;
}

.accordion-content.open {
    max-height: 500px;
    opacity: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
